POSTGRES_DB_NAME="e_approval_db"
POSTGRES_DB_USER="postgres"
POSTGRES_DB_PWD="password123"
POSTGRES_DB_HOST="localhost"
POSTGRES_DB_PORT=5432

DEBUG = True
DJANGO_SECRET_KEY='django-insecure-^ta+y@o=i5n5(a!&=h9q@3w5^q%m^0#e1wxit%-d!%@*+&!n(6'

EMAIL_HOST_USER = 'developer@whaletechnology.net'
EMAIL_HOST_PASSWORD = 'P@ssw0rd@whaletech'