# #database setting
# #POSTGRES_DB_NAME="ppaa_portal_db"
# POSTGRES_DB_USER="postgres"
# POSTGRES_DB_PWD="P@ssw0rd"
# POSTGRES_DB_HOST="localhost"
# POSTGRES_DB_PORT=5432


# DEBUG=True
# DJANGO_SECRET_KEY='django-insecure-^ta+y@o=i5n5(a!&=h9q@3w5^q%m^0#e1wxit%-d!%@*+&!n(6'

# #app_name: SMTP

# #email setting
# EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
# EMAIL_HOST="smtp.gmail.com"
# EMAIL_PORT=465
# EMAIL_HOST_USER='patrihenga@gmail.com'
# EMAIL_HOST_PASSWORD='jsjkjhsf'
# DEFAULT_FROM_EMAIL="patricknachenga@gmail.com"

# JEEVA_MODULE='http://192.168.29.88'

# #minio settings
# AWS_S3_ENDPOINT_URL='http://localhost:9000'
# AWS_ACCESS_KEY_ID='patrick.nachenga'
# AWS_SECRET_ACCESS_KEY='minioadmin123'
# AWS_STORAGE_BUCKET_NAME='django-media'
# RMS_REPORTS_BUCKET='reports-management'
# AWS_S3_REGION_NAME='us-east-1'
# REPORTS_DB_NAME='ppaa_reports'